# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Caches and checkpoints
.ipynb_checkpoints/
.pytest_cache/
.coverage
htmlcov/

# Environments
.env
.venv
env/
venv/
ENV/

# Datasets (local caching)
data/
datasets/

# Temporary files & large archives
*.zip
!results/
!models/
!report/